* {
  font-family: 'Cormorant', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background: #D5CCC0;
  border-bottom: 3px solid #754220;
  display: flex;
  justify-content: space-between;

  .logo {

    display: flex;
    align-items: center;
    padding-left: 1rem;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      height: 100%;

      p {
        font-size: 2rem;
        font-weight: bold;
        color: black;
      }

      img {
        height: 100%;
        padding-left: 0.5rem;
      }
    }
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      padding: 1rem 0;

      a {
        font-size: 2rem;
        color: #333;
        text-decoration: none;
        transition: all 0.2s;

        &:hover {
          color: #754220;
          font-size: 2.1rem;
          font-weight: bold;
        }
      }
    }
  }
}

#showcase {
  overflow:hidden;
  
  height: 90vh;
width:100%;
  .showcase-content {
    display: flex;
    height: 100%;

    .contact {
      flex: 2;
      background: #D5CCC0;
      display: flex;
      flex-direction: column;

      h1 {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
      }

      .first-row {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;

        i {
          font-size: 2.5rem;
          padding: 0 0.5rem;
          color: #754220;
        }

        p {
          color: black;
          font-size: 2rem;
        }

        .info {
          display: flex;
          padding: 1rem;



          p {
            color: black;
            font-size: 2rem;
          }
        }

        .hours {
          font-size: 2rem;
        }

        .map {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 1rem;

          img {
            border: 1px solid #754220;
            box-shadow: inset 0 0 5px #754220,
              0 0 5px #754220;
          }
        }
      }

      .second-row {
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;


        .icons {
          width: 100%;
          display: flex;
          justify-content: space-evenly;

          .icon {
            font-size: 10rem;
            padding: 1rem;

            i {

              transition: all 0.3s;

              &:hover {
                color: #754220;
              }
            }
          }
        }
      }
    }

    .img {
      flex: 1;
      background: url('../img/roadsign.jpeg') no-repeat center center/cover;
      border-left: 3px solid #754220;
    }
  }
}